.fade{
    opacity:0;
    transition:7s;
}

#question_container{
    font-family: candara, sans-serif;
    font-size: 1.5em;
    color: darkblue;
}

.littleSpaceDown{
    margin-bottom: 20px;
}

.littleSpaceUp{
    margin-top: 30px;
}

.txtWhiteP{
    color:white;
}
.bigLinkText{
	font-size: 1.2em;
}

[marker = 'sub-head']{
    color: green;
    font-size: 1.3em;
    text-transform: lowercase;
}

[data-description = 'notice']{
    color:red;
    text-transform:capitalize;
    margin-top:50px;
}

.mypad{
    padding:15px
}

.verySmall{
    font-size = 0.7em;
    color:darkgray;
}

td a {
    color:white;
}

td a:hover{
        color:azure;
    }

