{%extends "quiz/base.html"%}

{%block content%}
<div align = "center">
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags == 'success' %} class="w3-text-green" {%else%} class = "w3-text-red"{% endif %}><small>{{ message }}</small></li>
    {% endfor %}
</ul>
{% endif %}
</div>


<div class = "row">
    <div class = "col-md-4 offset-md-2 w3-black w3-container w3-round-xxlarge littleSpaceUp mypad">
        <form method = "post" action = "{%url 'users:coreLoginProcessor'%}" class = "">
            {%csrf_token%}
            Username: <input type = "text" class = "form-control" name = "username">
            Password: <input type = "password" class = "form-control" name = "password" length = "4">
            
            <br>
            <input type = "submit" class = "btn btn-success littleSpaceDown" value = "Login" style = "float:right">
            
            
            <input type="hidden" name="next" value="{{ next }}">
        </form>
    
    </div>
    
    <div class = "col-md-3 offset-md-1 w3-card-4 w3-border-green w3-topbar w3-rightbar w3-round-xxlarge">
        <h2>Instructions</h2>
        
        <ol start = "1"> 
            <li>Remeber to put in the right credentials</li>
            <li>Always take note of your login credentials as the system is case sensitive</li>
            <li>After clicking on login and you're successfully logged in, you'will be redirected to the apps home page.</li>
        </ol>
        
    </div>



</div>
{%endblock%}

{%block title%}
User-Login
{%endblock%}