{%extends "quiz/base.html"%}

{%block content%}

<div>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <p{% if message.tags == 'success' %} class="text-success"{%elif message.tags == 'warning'%} class = "text-warning bg-secondary"{%else%} class = "text-info" {%endif%}>{{ message }}</p>
    {% endfor %}
</ul>
{% endif %}
</div>


<div class = "row">
    
    <div class = "col-md-5 offset-md-1 w3-black w3-round-xxlarge w3-container mypad">
        
        <form method = "post" action = "{%url 'users:signup_processor'%}">
            {%csrf_token%}
            
            <div class = "littleSpaceUp">
            
                <input type = "text" placeholder = "firstname" name = "firstname" id = "firstname" class = "form-control" required><br>
                
                <input type = "text" placeholder = "lastname" name = "lastname" id = "lastname" class = "form-control" required><br>
                
                <input type = "text" placeholder = "username" name = "username" id = "username" class = "form-control" required><br>
                
                <input type = "password" placeholder = "password" name = "password" id = "password" class = "form-control" required maxlength = 4><br>
                
                <input type = "email" placeholder = "email" name = "email" id = "email" class = "form-control" required><br>
        
            </div>
            
            <input type = "submit" value = "register" class = "btn btn-success littleSpaceDown" style = "float:right;">
        </form>
            
    
    </div>
    
    <div class = "col-md-3 offset-md-1 w3-border-green w3-rightbar w3-container w3-topbar w3-round-xxlarge w3-card-4">
        <div align = "center">
        <h2>Instructions</h2>
            <ol start = "1" class = "text-danger">
                
                <li>Always keep your username and password simple for easy remembrance</li>
            
                <li>Do not use a password more than 4 characters</li>
                
                <li>In case you see an error 404 page after registering, refresh the webpage or go back go home and signup again</li>
                
                <li>Once you've signed up do not forget your username and password as you will use this to login into the website</li>
            
            </ol>
            
        </div>
    </div>

</div>

{%endblock%}

{%block style%}

{%endblock%}

{%block title%}
User-Signup
{%endblock%}