{%extends "quiz/base.html"%}
{%load static%}

{%block content%}



<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container fade">
  <div class="w3-content" id = "started">
    <div class="w3-twothird">
      <h1 class = "fade">Register</h1>
      <h5 class="w3-padding-32"><span class = "fade">Please fill the form below</span></h5>
      
        <!--for flash messages-->
        {% if messages %}
            <div align = "center" class = "msg-box">
            {% for message in messages %}
            <p {%if message.tags == 'success'%}class ="msg-box-success" {%elif message.tags == 
            warning'%}class = "msg-box-warning" {%else%} class = "msg-box-error"{%endif%}>{{ message }}</p>
            {% endfor %}
            </div>
            {% endif %}


        <form method = "post" action = "">
            {%csrf_token%}
            
            <div class = "littleSpaceUp">
            
                <input type = "text" placeholder = "firstname" name = "firstname" id = "firstname" class = "form-control" required><br>
                
                <input type = "text" placeholder = "lastname" name = "lastname" id = "lastname" class = "form-control" required><br>
                
                <input type = "text" placeholder = "username" name = "username" id = "username" class = "form-control" required><br>
                
                <input type = "password" placeholder = "password" name = "password" id = "password" class = "form-control" required maxlength = 16><br>
                
                <input type = "email" placeholder = "email" name = "email" id = "email" class = "form-control" required><br>
        
            </div>
            
            <input type = "submit" value = "register" class = "btn btn-success littleSpaceDown btn-lg">
        </form>
    </div>

    <div class="w3-third w3-center w3-container w3-padding-32">
        <h1> </h1>
        <p>Remember to put in credentials that you won't forget easily</p>
    </div>
  </div>
</div>
{%endblock%}

{%block header%}
<!-- Header -->
<header class="w3-container w3-center" style="padding:128px 16px; background-image:url({%static 'images/3.jpg'%})">
  <h1 class="w3-margin w3-jumbo w3-text-white fade">Register</h1>
  <p class="w3-xlarge w3-text-white fade"></span>Register to be part of our family</p>
  <a href = "#started" class="w3-button w3-red w3-padding-large w3-large w3-margin-top fade">...</a>
</header>
{%endblock%}   