{%extends "quiz/base.html"%}
{%load static%}

{%block header%}
<!-- Header -->
<header class="w3-container w3-center" style="padding:128px 16px; background-image:url({%static 'images/1.jpg'%})">
  <h1 class="w3-margin w3-jumbo w3-text-white fade">About Us</h1>
  <p class="w3-xlarge w3-text-white fade">Here we are to help you achieve your dreams</p>
  <a href = "#started" class="w3-button w3-red w3-padding-large w3-large w3-margin-top fade">Get Started</a>
</header>
{%endblock%}

{%block content%}
<hr>
<div class = "container-fluid">
<div class = "row">
	<div class = "col-md-6 col-lg-6 w3-light-grey w3-padding-16">
		<h3 align = "center" class = "w3-text-red">About Us</h3>
		<p> Quizng.com is a modern web-app whose sole purpose is to provide a platform on which students (of any level) can practice questions of their chosen category.</p>
		<p>Our user interface is simple enough for anyone to understand. From signup, to login to viewing your dashboard, and finally the quiz process. Everything is simple.</p>
		<p> Quizng is an opensource project which is free for everyone to use and contribute to</p>
		<p>However, while Quizng is free for everyone, we need also to finance this project in order to continue to deliver high quality service to our users. We need your donations and nothing is too small for you to donate. Please use this link to donate in support of this project <a href = "" class = "btn btn-outline-danger">Donate</a> Thank you very much.</p>
	</div>

	<div class = "col-md-6 col-lg-6">
		<h3 align = "center" classs = "w3-text-red">Contact</h3>
		<form>
			<input type = "text" class = "form-control" placeholder = "Fullname"><br>
			<input type = "email" class = "form-control" placeholder = "email"><br>
			<textarea class = "form-control">Your Text</textarea><br>
			<input type= "submit" class = "btn btn-block btn-danger" value="Send">
		</form>
	</div>
</div>
</div>

{%endblock%}


