{%extends "quiz/base.html"%}

{%block title%}
Dashboard
{%endblock%}

{%block content%}
<div align = "center">
<h1 class = "text-success" style = "margin-bottom:0px;">My DashBoard<br></h1>
<span class = "verySmall">current_user--{{current_user}}</span>
</div>
<div class = "row">

    <div class = "col-md-3 offset-md-1 w3-light-grey mypad w3-border-green w3-rightbar">
        
        <h2 align = "center" class = "w3-border-bottom">Personal Info</h2>
        
        <p class = "littleSpaceUp">Username: <button class = "btn btn-secondary">{{current_user.username}}</button></p>
        
        <p>FirstName: <button class = "btn btn-secondary">{{current_user.firstname}}</button></p>
        
        <p>LastName: <button class = "btn btn-secondary">{{current_user.lastname}}</button></p>
        
        <p>Email: <button class = "btn btn-secondary">{{current_user.email}}</button></p>
    
    </div>
    
    <div class = "col-md-7 w3-light-grey">
        
        <h2 align = "center" class = "w3-border-bottom">Quiz</h2>
        
        
        <h4 class = "text-danger">Most Recent</h4>
        
        <table class = "table">
            <tr align = "center">
                <td>Score</td>
                <td><button class = "btn btn-secondary">{{current_user.score}}</button></td>
            </tr>
            <tr align = "center">
                <td>Quiz Taken</td>
                <td><button class = "btn btn-secondary">{{current_user.most_recent_quiz}}</button></td>
            </tr>
            <tr align = "center">
                <td>Done</td>
                <td><button class = "btn btn-secondary">{{current_user.date_done}}</button></td>
            </tr>
            
             <tr align = "center">
                <td>Question Answered</td>
                <td><button class = "btn btn-secondary">{{current_user.temp_question_range}}</button></td>
            </tr>
        </table>
        
        <hr class = "w3-border-green w3-border-bottom">
        
        
        <h4 class = "text-danger">Scores</h4>
        
        <table class = "table">
            <tr align = "center">
                <td>highest</td>
                <td><button class = "btn btn-secondary">{{current_user.highest_score}}</button></td>
            </tr>

            <tr align = "center">
                <td>Lowest</td>
                <td><button class = "btn btn-secondary">{{current_user.lowest_score}}</button></td>
            </tr>

            
        </table>
        
        <hr class = "w3-border-green w3-border-bottom">
        
    
    </div>

</div>

{%endblock%}