{%extends "quiz/base.html"%}

{%block content%}
<div class = "row">
    
    <div class = "col-md-3 w3-green">
        <h2 marker = "head">Choose a Category:</h2>
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            {%for item in category%}
                <a class="nav-link btn btn-success w3-round-xxlarge" id="v-pills-home-tab" data-toggle="pill" href="{%url 'category_detail' item.title%}" role="tab" aria-controls="v-pills-home" aria-selected="true">{{item.title}}</a>
            {%endfor%}
        </div>
    </div>
    
    <div class = "col-md-9">
    <h2>Available Questions: {{available_question}}</h2>
    <a href = "{%url 'quiz_page' 6%}" class = "btn btn-danger littleSpaceDown" type = "button" onclick = "alert('Welcome to the Quiz Module')">Start Quiz</a>
    </div>
    
</div>
{%endblock%}

{%block title%}
Home
{%endblock%}