{%extends "quiz/base.html"%}

{%block content%}
<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Choose Category</div>
      <div class="list-group list-group-flush">
         {%for item in category%}
            <a class="list-group-item list-group-item-action bg-light" href="{%url 'category_detail' item.title%}">{{item.title}}</a>
        {%endfor%}
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <!--content goes here-->
            
            <div class = "card border-success mb-3 bg-dark">
                <div class = "card-body text-success">
                    <div class = "card-header bg-secondary text-warning">Welcome</div>
                    <p>Welcome to the official Royal Quiz app. 
                    The royal quiz app was developed to solve the problem of unavailability of practice platform to students preparing for CBT Exams at all levels.</p>
                    
                </div>
            </div>
            
            <div class = "card">
                <div class = "card-body text-info">
                    <div class = "card-header">Relevant Questions</div>
                    <p> Be rest assured all questions and resources found on this app are 100% relevant. we are always doing our best to make sure all question being added to the database go through a rigorous testing process.</p>
                    
                </div>
            
            </div>
            
            <div class = "card border-success mb-3 bg-dark">
                <div class = "card-body text-success">
                    <div class = "card-header bg-secondary text-warning">Instant Answer</div>
                    <p> Our app features an Instant answer feature which enables the app to determine if you are right or wrong in real-time. you don't have to attempt the whole quiz to know your score. just by answering one question, you can know if you are right or not.</p>
                    
                </div>
            
            </div>
            
            <div class = "card">
                <div class = "card-body text-info">
                    <div class = "card-header">Simple Interface</div>
                    <p> Our interface is designed with everyone in mind. It's simple and easy to use, form the login page to the main quiz page, our app features a clean interface</p>
                    
                </div>
            
            </div>
             
             
            <!--content ends here-->
            
            
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

{%endblock%}
{%block title%}Home{%endblock%}
