{%extends "quiz/base.html"%}

{%block content%}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags == 'success' %} class="w3-text-green" {%else%} class = "w3-text-red"{% endif %}><small>{{ message }}</small></li>
    {% endfor %}
</ul>
{% endif %}

<div class = "panel panel-primary" style = "margin-top: 30px;">
    
    <div class = "panel-heading">
        <h2>Question: <button type = "button" style = "float:right" class = 'btn btn-       danger'>Score: {{user.profile.score}}</button> 

            <button type = "button" style = "float:right" class = "btn btn-warning" onclick = "alert('confirm end exam?')"><a href = "{%url 'end_exam'%}">End Exam</a></button>
        </h2>
    </div>
    
    <div class = "panel-content">
        <p style = "text-transform: capitalize;">{{question.title}}</p>

        <form action = '{%url "mark" question.id question.subject%}' method = "post">
            {%csrf_token%}
            {%for choice in choices%}
                <input type = "radio" name = "choice" id = "choice{{forloop.counter}}" value = "{{choice.id}}">
                <label for = "choice{{forloop.counter}}">{{choice.choice}}</label><br>
            {%endfor%}
        
            <input type = "submit" value = "NEXT" style = "float:right" class = "btn btn-info">
        
        </form>
    </div>
</div>

    <!--<script>

    function previous(){
        window.history.back();
    }
    
    </script>-->

    <!--<button type = "button" class = 'btn btn-info' style = "float:left" onclick = "previous()">Previous</button>-->


{{question_id_list}}



<div data-description = "notice" class = "w3-yellow w3-panel w3-hover-shadow">
    <h3 style = "text-decoration:underline;">Note</h3>
    <p><strong>You have loaded this page:</strong> <span class = "badge badge-danger">{{num_visits}}</span> times</p>
    <ul>
    
    <li>This page will display the number of times/questions you choose in the question parameter.</li>
    <li> After that you'll be redirected out of this page to another page</li>
        
    </ul>
</div>

{%endblock%}

{%block title%}
Quiz
{%endblock%}

