{%extends "users/dboard_base.html"%}

{%block content%}

<div class = "row w3-white" style = "padding-left:20px;padding-top:50px;padding-bottom:20px;">
    <div class = "col-md-9">
        <h5>{{real_question.title}}</h5>
        <br><br>

        <form method = "post" action = "{%url 'mark'%}">
        {%csrf_token%}
        {%for item in choices%}
         <input type = "radio" name = "choice" value = "{{item.id}}" required>{{item.choice}}<br>
        {%endfor%}
        <input type = "submit" value = "Next" class = "btn btn-outline-info w3-right"> 
    </form>
    </div>

    <div class = "col-md-3">
        <a href = "{%url 'end_exam'%}" class = "btn btn-outline-danger btn-block">End Quiz</a>
        <a href = "{%url 'users:dashboard' user.username%}" class = "btn btn-outline-warning btn-block">Abort Quiz</a> 
    </div>       
</div>
    
{%endblock%}