{%extends "users/dboard_base.html"%}

{%block content%}

<div class = "row w3-white" style = "padding-left:20px;padding-top:50px;padding-bottom:20px;">
    <div class = "col-md-9">
        {%for item in real_question%}
        <div>
            <h5>{{item.title}}</h5>
            <br>
            <form>
                {%csrf_token%}
                {%for choice in item.choice_set.all%}
                    <input type = "radio" name = "choice{{item.id}}" value = "{{choice.id}}" required class = "options">{{choice.choice}}<br>
                {%endfor%}
            </form>
        </div>
        <hr>
        {%endfor%}
        <div>
            <button class = "btn btn-block btn-danger" id = "submitQuiz">Submit</button>
        </div>
    </div>

    <div class = "col-md-3">
        <a href = "{%url 'postProcessor'%}" class = "btn btn-outline-danger btn-block">End Quiz</a> 
    </div>       
</div>
{%endblock%}

{%block otherJs%}
<script>
    const endtime = document.querySelector('#endtime');
    let now = new Date().getTime();
    
    let timer = setInterval(function(){
        let now = new Date().getTime();
        let then = new Date(endtime.textContent)
			let t = then - now;
			if(t>=0){
				let days = Math.floor(t/(1000*60*60*24));
				let hours = Math.floor((t%(1000*60*60*24))/(1000*60*60));
				let mins = Math.floor((t%(1000*60*60))/(1000*60));
				let secs = Math.floor((t%(1000*60))/1000);
				
                //console.log(mins)
                //console.log(secs)
				//document.getElementById("timer-days").innerHTML = days + "<span class = 'label'>DAY(S)</span>";
				document.querySelector(".hour").textContent = hours;
				document.querySelector(".min").textContent = mins;
				document.querySelector(".secs").textContent = secs;
                
                if (mins === 0 && secs === 0){
                    window.alert("Unfortunately! Your time is up.")
                    window.location = ("/quiz/quiz/postProcessor/")
                }
			}
			else{
				//document.getElementById("timer").innerHTML = "The countdown is over"
				}
        }, 1000);
</script>

<script>
    $('#submitQuiz').click(function(){
        choices = document.getElementsByClassName('options')
        var choiceNameList = [ ]
        var elementList = [ ]
    
        for (var i =0; i<choices.length; i++){
            var x = choices[i]
            var names = x.getAttribute('name')
            if(choiceNameList.includes(names)){
                continue
            }else{
            choiceNameList.push(names)
            }
        }
    
        for (var i =0; i<choiceNameList.length; i++){
            x = document.querySelectorAll(`input[name = "${choiceNameList[i]}"]`)
            console.log(x)
            for(let item=0; item<x.length; item++){
                if(x[item].checked==true){
                    elementList.push(x[item].value)
                }
            }
        }
    
        console.log(elementList)
        
        $.ajax({
            type:'get',
            url: "{%url 'mark'%}",
            data: {
                choiceIds: elementList.join(),
            },
            success: [
                $('#submitQuiz').removeClass('btn-danger'),
                $('#submitQuiz').addClass('btn-success'),
            ]
        })
    })
    
    $(document).ajaxStop(function(){
        window.location = '/quiz/end_exam/'
    })
</script>
{%endblock%}

{%block title%}My Quiz{%endblock%}