{%extends "users/dboard_base.html"%}

{%block content%}

<div class = "row w3-white">
    <div class = "col">
    <div>
        <h2 marker = "sub-head" align = "center" style = "margin-top:50px;"> Set Question Parameters:</h2>
        <div class = "" style = "margin-right:30px;margin-left:30px; padding:20px;">
        <form method = "post" action = "" style = "margin-bottom:100px;">
            {%csrf_token%}
                <div class = "row">
                    <div class = "offset-md-2 col-md-8">
                        <hr>
                        <label for = "Question_Range">Question Range</label>
                        <select class = "form-control" name = "range">
                            <option value = "5">5</option>
                            <option value = "10">10</option>
                            <option value = "15">15</option>
                            <option value = "20">20</option>
                            <option value = "25">25</option>
                            <option value = "30">30</option>
                        </select>
                        <hr>
                        <label for = "subject">Subject</label>
                        {%if subjects%}
                        <select class = "form-control" name = "subject">
                            {%for subject in subjects%}
                            <option class = "form-control" value = "{{subject.id}}">{{subject.title}}</option>
                            {%endfor%}
                        </select>
                        {%endif%}
                        <hr>
                        <label for = "Time Range">Time Range (Minutes)</label>
                        <select class = "form-control" name = "timeRange">
                            <option value = "1">1</option>
                            <option value = "5">5</option>
                            <option value = "10">10</option>
                            <option value = "15">15</option>
                        </select>
                        <hr>
                        <input type = "submit" value = "NEXT" class = "btn btn-outline-success float-right" style = "">
                    </div>
                </div>
        </form>
    </div>
    
    </div>
    
    </div>
</div>

{%endblock%}

{%block title%}Start Quiz{%endblock%}