{%extends "quiz/base.html"%}

{%block info%}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom" style = "margin-top:50px;">
        <h1 class="h2"><a href = "{%url 'users:dashboard'%}">Dashboard</a></h1>
        {%if user.profile.status == 'au'%}<a class = "btn btn-outline-primary" href = "{%url 'users:approveQuestion'%}">Pending Questions</a>{%endif%}
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">RP</button>
                <button class="btn btn-sm btn-outline-secondary">{{user.profile.RP}}</button>
                <span class = "btn btn-outline-danger">{{user.profile.get_status_display}}</span>
              </div>
            </div>
          </div>
{%endblock%}

<div>
{% if messages %}
    {% for message in messages %}
    <p{% if message.tags == 'success' %} class="text-success"{%elif message.tags == 'warning'%} class = "text-warning bg-secondary"{%else%} class = "text-info" {%endif%}>{{ message }}</p>
    {% endfor %}
{% endif %}
</div>

{%block content%}
    {%for item in question%}
        <div class = "w3-panel w3-pale-yellow">
            <h3>{{item.question}}</h3>
            <p>Category <button class = "btn btn-danger">{{item.category}}</button> | Subject <button class = "btn btn-danger">{{item.subject}}</button></p>
            
            <p>A: {{item.option1}} |  B: {{item.option2}} |  C: {{item.option3}} |  D: {{item.option4}} | Answer: {{item.answer}} </p>
        </div>
        
        <a href = ""class = "btn btn-outline-success">Approve</a> <a href = "{%url 'users:decline' item.id%}" id = 'delete' class = "btn btn-outline-danger">Decline</a>

    {%endfor%}

<script>
    const del = document.querySelector('#delete');
    function message(){
        alert('you have successfully deleted this message from the database')
    }
    del.addEventListener('click', message);
</script>

{%endblock%}