{%extends 'users/dboard_base.html'%}

{%block overview%}
  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-red w3-padding-16">
        <div class="w3-left"><i class="fa fa-coins w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>{{user.profile.RP}}</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Royal Points</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-blue w3-padding-16">
        <div class="w3-left"><i class="fa fa-book w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>{{total_quiz_count}}</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Total Quiz</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-teal w3-padding-16">
        <div class="w3-left"><i class="fa fa-book-open w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h6>{{user.profile.get_status_display}}</h6>
        </div>
        <div class="w3-clear"></div>
        <h4>Status</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-orange w3-text-white w3-padding-16">
        <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>{{user_count}}</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Users</h4>
      </div>
    </div>
  </div>
{%endblock%}

{%block content%}

<div class="">
        <h5>General Information</h5>
        <table class="w3-table w3-striped w3-white">
          <tr>
            <td><i class="fa fa-question-circle w3-text-blue w3-large"></i></td>
            <td>Total questions</td>
            <td><i>{{question_count}}</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-book-open w3-text-red w3-large"></i></td>
            <td>Total Subjects</td>
            <td><i>{{subject_count}}</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-book w3-text-yellow w3-large"></i></td>
            <td>Available categories</td>
            <td><i>{{category_count}}</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-comment w3-text-red w3-large"></i></td>
            <td>New Users</td>
            <td><i>{{new_user_count}}</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-bookmark w3-text-blue w3-large"></i></td>
            <td>New Questions</td>
            <td><i>{{new_question_count}}</i></td>
          </tr>
          <tr>
        </table>
      </div>
{%endblock%}