{%extends 'quiz/base.html'%}

{%block headadd%}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    {%endblock%}

 <!--<link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/dashboard/">-->

{%block info%}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom" style = "margin-top:50px;">
    <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">RP</button>
                <button class="btn btn-sm btn-outline-secondary">{{user.profile.RP}}</button>
                <span class = "btn btn-outline-danger">{{user.profile.get_status_display}}</span>
              </div>
            </div>
          </div>
{%endblock%}

{%block content%}
<div class = "row">

    <div class = "col-md-8 offset-md-2 w3-card-4 w3-white w3-border-green w3-leftbar w3-hover-light-grey">
        
        <table class = "table table-striped w3-light-green">
            
            <tr>
                <td><b>Firstname</b></td>
                <td><b>Lastname</b></td>
                <td><b>Username</b></td>
                <td><b>Royal Points</b></td>
                <td><b>User Type</b></td>
            
            </tr>
            
            {%for items in users%}
            
            <tr>
                <td>{{items.profile.first_name}}</td>
                <td>{{items.profile.lastname}}</td>
                <td class = "w3-text-yellow"> <button class = "btn btn-outline-light">{{items.username}}</button></td>
                <td><button class = "btn btn-outline-light">{{items.profile.RP}}RP</button></td>
                <td><button class = "btn btn-outline-light">{{items.profile.get_status_display}}</button></td>
            
            </tr>
            {%endfor%}
        
        </table>
        
    
    </div>

</div>
                 
            
{%endblock%}


{%block title%}Dashboard | Users{%endblock%}