 <h2>Most Recent</h2>
            
            <div class = "row">
                <div class = "col-md-3 w3-round-xxlarge w3-hover-shadow" style = "background-color:darkgreen; color:white" align = "center">
                    <h2 class = "w3-text-light-grey" style = "margin-top:30px;margin-bottom:0px;">Score</h2>
                    <p style = "font-size: 90px;">{{user.profile.score}}</p>
                </div>

                
                <div class = "col-md-3 w3-round-xxlarge w3-hover-shadow offset-md-1" style = "background-color:darkgreen; color:white" align = "center">
                    <h2 class = "w3-text-light-grey" style = "margin-top:30px;margin-bottom:0px;">Questions</h2>
                    <p style = "font-size: 90px;">{{user.profile.temp_question_range}}</p>
                </div>
                
                 <div class = "col-md-3 offset-md-1 w3-light-grey w3-round-xxlarge w3-hover-shadow" align = "center">
                    <h2 class = "w3-text-red w3-spin" style = "margin-top:30px;margin-bottom:0px;">Quiz</h2>
                     <hr class = "w3-border w3-red w3-topbar">
                    <p style = "font-size: 1.7em;" class = "text-info">{{user.profile.most_recent_quiz}}</p>
                     <hr class = "w3-border w3-red w3-bottombar">
                </div>

                
            </div>
            
            <div style = "margin-top:30px;">
                <h4><b>Last Quiz Date:</b>---------------------------------<span class = "text-success">{{user.profile.date_done}}</span></h4>
                
                <h4><b>Last Login:</b>---------------------------------<span class = "text-success">{{user.last_login}}</span></h4>
                


                
            </div>